.skeletonWrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 95%;
  margin-top: -2rem;
  /* border: 1px solid red; */
}
.skeletonCardContaier {
  border-radius: 25px;
  box-shadow: 2px 2px 10px -1px rgba(20, 13, 27, 0.15);
  padding: 1rem;
  width: 16rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  margin-top: 2.5rem;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}
.skeletonImage {
  width: 90%;
  height: 60%;
  margin-top: 0.8rem;
  margin: auto;
}
.skeletonHeading {
  width: 40%;
  font-size: 1.5rem;
  margin-top: 1.5rem;
}
.skeletonPara {
  font-size: 0.8rem;
  width: 70%;
}
.skeletonBtn {
  width: 50%;
  font-size: 2.5rem;
  margin: auto;
  margin-top: 3rem;
}
