.errorContainer {
  margin-top: 5rem;
  padding-bottom: 8rem;
}
.errorWrapper {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.errorHeading {
  margin-top: -5rem;
  font-size: 4rem;
  text-align: center;
  color: var(--font-col-gray-light);
}
.errorPara {
  margin-top: 0.9rem;
  text-align: center;
  font-size: 1rem;
}

@media only screen and (min-width: 680px) {
  .errorPara {
    font-size: 1.1rem;
  }
}
